<!doctype html>
<html>
<head>
    <title>SoundCrawler</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">
    <link href="dist/css/logo.css" rel="stylesheet">
    <script type="text/javascript" src"anim.js"> </script>
    <style>
        body { 
                padding-top:80px; 
                background-color: #171d25;
              }
      </style>
  </head>
  <div class="container">
     <div class="containerlogo">
            <div class="bar color-10"><span class="bar-inner"></span></div>
            <div class="bar color-9"><span class="bar-inner"></span></div>
            <div class="bar color-8"><span class="bar-inner"></span></div>
            <div class="bar color-9"><span class="bar-inner"></span></div>
            <div class="bar color-10"><span class="bar-inner"></span></div>
            <div class="bar color-11"><span class="bar-inner"></span></div>
            <div class="bar color-12"><span class="bar-inner"></span></div>
            <div class="bar color-13"><span class="bar-inner"></span></div>
            <div class="bar color-12"><span class="bar-inner"></span></div>
            <div class="bar color-10"><span class="bar-inner"></span></div>
            <div class="bar color-9"><span class="bar-inner"></span></div>
            <div class="bar color-8"><span class="bar-inner"></span></div>
            <div class="bar color-7"><span class="bar-inner"></span></div>
            <div class="bar color-8"><span class="bar-inner"></span></div>
    </div>
        <h1>
            <span>SoundCrawler</span>
        </h1>
    <div class="jumbotron text-center" style='margin-top: 10px'>
        <p>Paste the SoundCloud url you want to download here<p>
        <form class="navbar-form" role="search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
            <div class="input-group-btn">
                <button class="btn btn-default" id="srch-button" type="button"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form>
        <p id='result'></p>
    <p></br> Login or signup to access stats </p>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
    </div>
  </div>
    <script>
        $('#srch-button').click(function(){
        $.ajax({
        type: "POST",
        url: '/crawlsoundcloud',
        data: {'url' : document.getElementById('srch-term').value},
        success: function(body){
            $('#result').append("<a href=\"" + body.url + "\" download=\"" + 
                body.title + "\">Right click here and Save link as...</a>");
            },
        });
        });
        jQuery(document).ready(function() {
        $('body').addClass('is-active');
        });
    </script>
</body>
</html>