<!doctype html>
<html>
<head>
    <title>SoundCrawler</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">
    <script type="text/javascript" src"anim.js"> </script>
    <style>
        body { 
                padding-top:80px; 
                background: url('bg.jpg') no-repeat center center fixed;
                background-size: cover;
              }
      </style>
  </head>
  <div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> SoundCrawler Pretty Stats</h1>

        <p>Login or Register</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
    </div>

</div>
</body>
</html>