<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SoundCrawler pretty stats</title>

    <!-- Bootstrap -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="dist/js/messagesByDay.js"></script>
    <link href="dist/css/stats.css" rel="stylesheet">
    <link href="dist/css/logo.css" rel="stylesheet">
    <link href="dist/css/rotateData.css" rel="stylesheet">
    <link href="dist/css/roundButton.css" rel="stylesheet">
    <!-- LINE GRAPH -->
    <script src="dist/js/snap.svg.js"></script>
    <link href="dist/css/lineGraph.css" rel="stylesheet">
    <script src="dist/js/lineGraph.js"></script>
</head>
<body>
  <div class="container">
    <div class="containerlogo">
        <div class="bar color-10"><span class="bar-inner"></span></div>
        <div class="bar color-9"><span class="bar-inner"></span></div>
        <div class="bar color-8"><span class="bar-inner"></span></div>
        <div class="bar color-9"><span class="bar-inner"></span></div>
        <div class="bar color-10"><span class="bar-inner"></span></div>
        <div class="bar color-11"><span class="bar-inner"></span></div>
        <div class="bar color-12"><span class="bar-inner"></span></div>
        <div class="bar color-13"><span class="bar-inner"></span></div>
        <div class="bar color-12"><span class="bar-inner"></span></div>
        <div class="bar color-10"><span class="bar-inner"></span></div>
        <div class="bar color-9"><span class="bar-inner"></span></div>
        <div class="bar color-8"><span class="bar-inner"></span></div>
        <div class="bar color-7"><span class="bar-inner"></span></div>
        <div class="bar color-8"><span class="bar-inner"></span></div>
    </div>
    <h1>
        <span>SoundCrawler</span>
    </h1>
</div>
<div class="container-fluid" style="padding-top: 100px">
    <div class="row-fluid">
<!--         <div class="col-md-3"></div>
 -->    <div class="col-md-4">
            <div class="circle1"></div>
            <div class="circle4"></div>
            <div class="circle3"></div>
            <div class="circle2"></div>
            <div class="round-button" style="padding-top: 100px"><div class="round-button-circle">
                <buttonText class="round-button">1000</buttonText></div>
            </div>
        </div>
        <div class="col-md-8">        
        <div id="messagesByDay" style="height: 400px;"></div>
        </div>
        </div class="col-md-4"></div>
    </div>
</div>
<script>
    jQuery(document).ready(function() {
        drawMessageByDay();
        $('body').addClass('is-active');
    });
</script>
</body>
</html>